body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav > h3 > a{
    text-decoration: none;
    font-size: 30px;
}
.primary-text{
    color:#FD6E0A;
}
nav > ul{
    display: flex;
    gap:30px;
    align-items: center;
}
ul > li {
    list-style: none;
}
ul > li > a{
    text-decoration: none;
    /* color: black; */
}
.btn-primary{
    height: 40px;
    width: 120px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    background: #FD6E0A;
}
.header{
    background-color:#FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 100px;
}
.banner{
    padding: 30px 30px 0 200px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width:500px
}
.banner-greeting{
    font-size: 45px;
    margin: 0;
}
.banner-title{
    font-size: 65px;
    margin:0;
}
main{
    width: 1140px;
    margin: 0 auto;
}
.about{
    background-color: #FFF8F3;
    padding: 120px 180px;
}
.section-title{
    text-align: center;
    font-size: 35px;
}
.about-para{
    text-align: justify;
}
.about-description{
    display: flex;
   justify-content: space-between;
   text-align: center;
}
.info-title{
    font-weight: normal;
}
.info-description{
    font-weight: bold;
}

/* What section*/

.what-description{
    display: flex;
}
.what-info{
    padding: 30px 40px;
    /* border: solid #FD6E0A; */
}
.section-title, .what-des{
    text-align: center;
}
.what-des{
    padding: 20px 150px;
}
.section-title{
    font-size: 35px;
}
.what-I-do{
    margin-top: 100px;
}

.resume-container{
    display: flex;
    gap:40px
}
.download-cv{
    text-align: center;
    margin-top:50px;
}
.footer-area{
    padding: 130px 180px;
    background-color:#FFF8F3;
    margin-top: 100px;
    display: flex;
}
.social-icon ul{
    display: flex;
    gap:30px;
    padding:0;
   
}
.contact-form input[type="text"],input[type="email"],textarea{
    display: block;
    font-size: 20px;
    margin-bottom: 25px;
    padding: 15px 35px;
    border-radius: 5px;
    background: white;
    border: 0;
    width: 100%;
}
.footer-column{
    width: 50%;
}
